/* ----- Header  ----- */
header {
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem;
}

nav ul {
  flex-direction: row;
  gap: 1.5rem;
}

/* ----- Center ----- */
.center {
  height: 350px;
  padding: 3rem;
}

.center-content {
  width: auto;
  min-width: 400px;
}

.center-content h1 {
  font-size: 2.5rem;
}

/* ----- Search ----- */
.search-section {
  padding: 1.5rem 2rem 0;
  display: flex;
  justify-content: flex-end;
}

.search-box {
  width: 350px;
}